<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<div>
<img src="https://storage.googleapis.com/artifacts.roi-dtcuser307.appspot.com/DCcherrytrees.jpg" class="img-fluid" alt="Responsive image">
</div>
<ul >
  {{#events}}
    <li>
        <h2>{{ title }}</h2>
        <p>{{ description }}</p>
    </li>
  {{/events}}
</ul>
